  /* Default Design */
  .gfg-div1 {
    
    font-size: 45px;

}
@media screen and (min-width: 1024px) {
.gfg-div1 {
    font-size: 45px;
}
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
.gfg-div1 {
    font-size: 25px;
}
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
.gfg-div1 {
    font-size: 25px;
}
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
.gfg-div1 {
    font-size: 25px;
}
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
.gfg-div1 {
    font-size: 25px;
}
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
.gfg-div1 {
    font-size: 25px;
}
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
.gfg-div1 {
    font-size: 25px;
}
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
.gfg-div1 {
    font-size: 25px;
}
}
    
    /* Default Design */
    .gfg-div {
    
        font-size: 60px;
    
    }
    @media screen and (min-width: 1024px) {
    .gfg-div {
        font-size: 60px;
    }
    }
    
    /* For Tablet View */
    @media screen and (min-device-width: 768px)
    and (max-device-width: 1024px) {
    .gfg-div {
        font-size: 4vw;
    }
    }
    
    /* For Mobile Portrait View */
    @media screen and (max-device-width: 480px)
    and (orientation: portrait) {
    .gfg-div {
        font-size: 4vw;
    }
    }
    
    /* For Mobile Landscape View */
    @media screen and (max-device-width: 640px)
    and (orientation: landscape) {
    .gfg-div {
        font-size: 4vw;
    }
    }
    
    /* For Mobile Phones Portrait or Landscape View */
    @media screen and (max-device-width: 640px) {
    .gfg-div {
        font-size: 4vw;
    }
    }
    
    /* For iPhone 4 Portrait or Landscape View */
    @media screen and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .gfg-div {
        font-size: 4vw;
    }
    }
    
    /* For iPhone 5 Portrait or Landscape View */
    @media (device-height: 568px) and (device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .gfg-div {
        font-size: 4vw;
    }
    }
    
    /* For iPhone 6 and 6 plus Portrait or Landscape View */
    @media (min-device-height: 667px) and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 3) {
    .gfg-div {
        font-size: 4vw;
    }
    }
    