/*
Implement slide to up -> hide -> slide from down animation for text
overflow hidden to hide text using a container with overflow hidden
*/
.slide-up {
  animation: slide-up 1s ease-in-out;
  -webkit-animation: slide-up 1s ease-in-out;
}


@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
  51% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

}
.fade-in {
  animation: fade-in 0.5s ease-in-out;
  -webkit-animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}






