head,body{
    height: 100vh;
    width: 100%;
    margin: 0;
  }
  
  
  .App {
    width: 100%;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
  }
  .gradient-text{
    background: linear-gradient(99.23deg, #EA4335 2.35%, #4285F4 39.86%, #0F9D58 66.07%, #FBBC04 94.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
 
    
 
    

  }
  .instagram{
    background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    .container {
      position: relative;
    }
    
    .overlap1 {
   
      z-index: 1;
    }
    .overlap2 {
     
      z-index: 2;
    }
    
  
  /*
  Import all Gilroy woff2 fonts into the font-family
  
  */
  @font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  /*Medium Semibold light Heavy*/
  @font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gilroy-Regular';
    src: url('fonts/Gilroy/Gilroy-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gilroy-Bold';
    src: url('fonts/Gilroy/Gilroy-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gilroy-Black';
    src: url('fonts/Gilroy/Gilroy-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  /*Medium Semibold light Heavy*/
  @font-face {
    font-family: 'Gilroy-Medium';
    src: url('fonts/Gilroy/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy-Light';
    src: url('fonts/Gilroy/Gilroy-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy-Heavy';
    src: url('fonts/Gilroy/Gilroy-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'BebasNeue-Regular';
    src: url('fonts/BebasNeue/BebasNeue-Regular.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  


  
  